
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.flex-1{
    flex: 1;
}
.flex-8{
    flex: 8;
}

.drop-shadow{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.flatten-margin-10{
    margin-bottom: 10px;
    margin-top: 10px;
}


.nav--horizontal > ul{
    width:100%;
    justify-content: center;
    align-items: stretch;
    flex-flow: row;
}

.nav--horizontal > ul > li{

    margin-top: 0;
    flex-grow: 1;
    display:flex;
    text-align: center;
}

.nav--horizontal > ul > li > a{
    transition: all 0.3s;
    width:100%
}

.full-input{
    width:100% !important;
}

.login-panel{
    height:100%;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    float:right;
    display:flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width: 900px) {
    .no-small {
        display:none;
    }
}

@media screen and (max-width: 530px) {
    .no-tiny {
        display:none;
    }
}

.op0{
    opacity:0;
}

.b {
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
}


.kill-all {
    padding: 0;
    margin: 0;
}

.green {
    background: #00ff00;
}

.green:hover {
    background: #0A0;
}

.red {
    background: #ff0000;
}

.blue {
    background: #0000FF;
}

.yellow {
    background: #FF0;
}

.light-blue {
    background: #0FF;
}

.pink {
    background: #F0F;
}

.dark {
    background: #edeeef;
}

