<div class="g-m--7 g--5 m--1 m-s--1 g-s--5 container container--wrap--s no-tiny">
    <!--fade-out-from-top-->
    <div class="g--4 g-s--12 fade-in-from-top  card  b ">
        <h3>Quizzes.</h3>
        <p class="no-small">Quizzing based on Enthuware, with feedback and explanations.</p>
    </div>
    <div class="g--4 g-s--12 fade-in-from-top  card nudge--left nudge--right no-nudge--s  b">
        <h3>Coding Challenges.</h3>
        <p  class="no-small">Write real code to solve problems using the Java Api covered by the OCA and OCP</p>
    </div>
    <div class="g--4 g-s--12 fade-in-from-top  card  b">
        <h3>Study materials.</h3>
        <p  class="no-small">Resources collected by generations of testers gone by.</p>
    </div>
</div>


<div class="m-s--1 g-s--5 g--3 m-m--1 m--3 g-t--12 m-t--0 login-panel card fade-in-from-right ">
    <h1 class="g--4 fade-in-from-top ">Orcap.</h1>
    <input class="fade-in-from-top  full-input"
           type="text" required placeholder="Username">
    <input class="fade-in-from-top  full-input"
           type="password" required placeholder="Password">
    <button class="btn--raised fade-in-from-top  btn--primary">Login</button>
</div>